<section id="cfcr">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="section-heading">
          <h3>Call for challenge reports</h3>
          <div class="separator-div"></div>
        </div>

        {{ page.cfcr.intro | markdownify }}

        <h5>Important dates</h5>
        <p>
          All deadlines are
          <a href="https://www.timeanddate.com/time/zones/aoe"
            >anywhere on earth (AoE) time</a
          >.
        </p>

        <div class="row justify-content-center">
          <div class="col-md-11">
            <table class="table table-striped table-sm">
              <tbody>
                {% for date in page.cfcr.dates %}
                <tr>
                  <td class="font-weight-bold" style="width: 40%">
                    {{ date.event }}
                  </td>
                  <td style="width: 40%">{{ date.date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <h5>Submission instructions</h5>

        <h6>Submission portal</h6>
        <p>
          All challenge report submissions should be made via
          <a
            href="{{ page.openreview }}"
            class="btn btn-custom btn-xs"
            target="_blank"
            >OpenReview</a
          >.
        </p>

        <h6>Submission format</h6>
        <p>
          Challenge reports should be in a markdown-style blog post format, with
          additional metadata as specified by our submission form on OpenReview.
          Challenge reports should be associated with a submission to the
          Re-Align Challenge leaderboard, in the form of a link to a GitHub pull
          request (PR) authored by one of the authors of the challenge report.
        </p>

        <h5>Review policy</h5>
        <p>
          Since GitHub PRs cannot be anonymized, it is acceptable to have PRs
          associated with a GitHub user that reveals author identity. However,
          the challenge report submitted on OpenReview should be fully
          anonymized. These submissions will go through double-blind peer review
          for quality. Separately, the organizers will review the GitHub PR to
          ensure the leaderboard submission is valid and consistent with the
          corresponding challenge report.
        </p>

        <h5>Presentation format</h5>
        <p>
          Accepted challenge reports will be invited for presentation at the
          ICLR Workshop in the form of a poster. Select contributions may
          additionally be invited as contributed talks.
        </p>

        <p>
          Posters should be in portrait orientation with a maximum height of
          91cm (36") and a maximum width of 61cm (24").
        </p>

        {{ page.cfcr.extra_instructions | markdownify }}
      </div>
    </div>
  </div>
</section>
