<section id="cfp">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="section-heading">
          <h3>Call for papers</h3>
          <div class="separator-div"></div>
        </div>

        {% if page.cfp.intro %} {{ page.cfp.intro | markdownify }} {% else %}
        <p>
          We invite the submission of papers for presentation at the workshop.
          We broadly welcome submissions related to representational alignment
          among artificial and biological information processing systems.
          Submissions can come from any area of cognitive science, neuroscience,
          machine learning, or related fields. We welcome
          <strong>short</strong> (up to 5 pages + references and appendix) or
          <strong>long</strong> (up to 10 pages + references and appendix)
          technical and position papers.
        </p>
        {% endif %}

        <h5>Important dates</h5>
        <p>
          All deadlines are
          <a href="https://www.timeanddate.com/time/zones/aoe"
            >anywhere on earth (AoE) time</a
          >.
        </p>

        <div class="row justify-content-center">
          <div class="col-md-11">
            <table class="table table-striped table-sm">
              <tbody>
                {% for date in page.cfp.dates %}
                <tr>
                  <td class="font-weight-bold" style="width: 40%">
                    {{ date.event }}
                  </td>
                  <td style="width: 40%">{{ date.date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <h5>Submission instructions</h5>

        <h6>Submission portal</h6>
        <p>
          All submissions should be made via
          <a href="{{ page.openreview }}"> OpenReview</a>.
        </p>

        <h6>Submission format</h6>
        <p>
          Submissions should consist of a single PDF that follows the official
          ICLR LaTeX template but with an edited header that identifies the
          submission as to the workshop rather than as to the main conference;
          for convenience, we have thus adapted the <b>official template</b>
          <a
            href="https://github.com/representational-alignment/iclr-workshop-template/raw/refs/heads/master/re-align{{ page.year }}.zip"
          >
            here</a
          >.
        </p>

        <h6>Prohibition on prior publication</h6>
        <p>
          We welcome only papers that have not yet been accepted for publication
          at other venues. Submission of late-breaking results and unpublished
          or ongoing work, including works currently under review but not yet
          accepted at other venues, are welcome.
        </p>

        <h6>Interdisciplinarity</h6>
        <p>
          During submission, authors will be asked to specify if their
          submission aligns more with cognitive science, neuroscience, or
          machine learning; we will try to assign reviewers accordingly. Since
          this workshop is interdisciplinary with the goal to bring together and
          enable knowledge transfer between researchers from various
          communities, we suggest (but do not require) submissions to use the
          terminology and general formalism described in the position paper that
          the organizers of this workshop recently co-authored in collaboration
          with others (<a href="https://arxiv.org/abs/2310.13018">📄 paper</a>).
          (Commentaries and critiques of this framework are also welcome!)
        </p>

        <h5>Double-blind policy</h5>
        <p>
          All submissions should be fully anonymized. Please remove any
          identifying information such as author names, affiliations,
          personalized GitHub links, etc. Links to anonymized content are OK,
          though we don't require reviewers to examine such content.
        </p>

        <h5>Archival policy</h5>
        <p>
          Work that has already appeared in a venue (including any workshop,
          conference, or journal) must be significantly extended to be eligible
          for workshop submission. Work that is currently under review at
          another venue or has not yet been published in an archival format as
          of the date of the Re-Align deadline may be submitted. For example,
          submissions that are concurrently submitted to ICML, CogSci, and CCN
          are welcome. We also welcome COSYNE abstracts, which should be
          extended to our short or long paper format.
        </p>

        <h5>Selection criteria</h5>
        <p>
          All submissions will undergo peer review by the workshop’s program
          committee, and editorial decisions will be made by the organizing
          committee. Accepted abstracts will be chosen based on theoretical or
          empirical validation, novelty, and suitability to the workshop’s
          goals.
        </p>

        <h5>Presentation format</h5>
        <p>
          All accepted abstracts will be invited for presentation in the form of
          a poster. A few select contributions will additionally be invited as
          contributed talks. Accepted papers will be posted in a non-archival
          format on the workshop website.
        </p>

        <p>
          Please follow the official
          <a href="https://iclr.cc/FAQ/PosterInformation">ICLR guidelines</a>
          regarding the size of workshop posters.
        </p>

        <h5>Remote presentation</h5>
        <p>
          Acceptance decisions on submissions will be considered independently
          from any constraints on the ability of authors to attend ICLR in
          person. Our goal is to allow every accepted paper to be presented in
          person. If our assigned space at the conference does not have the
          capacity for all papers to be presented as posters, we will feature
          any papers we cannot accommodate via presentation in an asynchronous
          virtual format to be determined. This option will also be available to
          presenters who are unable to travel due to visa or funding
          restrictions.
        </p>

        {{ page.cfp.extra_instructions | markdownify }}
      </div>
    </div>
  </div>
</section>
