<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-header">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}"
      >Re-Align Workshop</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#about">About</a>
        </li>
        {% if page.show_cfp %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#cfp">CfP</a>
        </li>
        {% endif %} {% if page.challenge %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#challenge">Challenge</a>
        </li>
        {% endif %} {% if page.hackathon %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#hackathon">Hackathon</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#speakers">Speakers</a>
        </li>
        {% if page.schedule %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#schedule">Schedule</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#organizers">Organizers</a>
        </li>
        {% if page.program_committee %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#program-committee">PC</a>
        </li>
        {% endif %} {% if page.sponsors %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#sponsors">Sponsor</a>
        </li>
        {% endif %} {% if page.paper_url %}
        <li class="nav-item">
          <a
            class="nav-link highlight-button"
            href="{{ page.paper_url }}"
            target="_blank"
          >
            📄 Re-Align Paper
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
