<section id="organizers">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-heading col-md-8 custom-lg-6">
        <h3>Organizers</h3>
        <div class="separator-div"></div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 custom-lg-6">
        <div class="row">
          {% for organizer in page.organizers %}
          <div class="col-md-3 text-center">
            <div class="single-organizer">
              {% if organizer.website %}
              <a href="{{ organizer.website }}" target="_blank">
                {% endif %}
                <img
                  src="{{ '/assets/images/organizers/' | append: organizer.image | relative_url }}"
                  alt="{{ organizer.name }}"
                  class="img-fluid"
                />
                <h6>{{ organizer.name }}</h6>
                {% if organizer.website %}
              </a>
              {% endif %}
              <p>{{ organizer.affiliation }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
