<section id="program-committee">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-heading col-md-8 custom-lg-6">
        <h3>Program committee</h3>
        <div class="separator-div"></div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 custom-lg-6">
        <p class="mb-4">
          We thank the following reviewers for providing thorough and
          constructive feedback on submissions to the workshop:
        </p>
        <div class="reviewer-list">
          {% assign sorted_reviewers = page.program_committee | sort: "name" %}
          {% for reviewer in sorted_reviewers %}
          <div class="reviewer-item">
            {% if reviewer.url %}
            <a href="{{ reviewer.url }}" target="_blank">{{ reviewer.name }}</a>
            {% else %} {{ reviewer.name }} {% endif %} {% if
            reviewer.affiliation %} ({{ reviewer.affiliation }}) {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
