.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px);
  transition: all $transition-fast;
  z-index: 1000;

  .nav-link {
    color: $text-light !important;
    transition: color $transition-normal;
    margin: 0 $spacing-unit * 1.5;
    position: relative;

    &:hover,
    &.active {
      color: $primary-color !important;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
      }
    }
  }
}

.welcome-hero {
  min-height: 80vh;
  @include flex-center;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: 40px;

  .header-text {
    text-align: center;
    padding: $spacing-unit * 4;
    color: white;

    h2 {
      font-size: 54px;
      font-weight: 700;
      margin-bottom: $spacing-unit * 3;
      color: white;
    }

    .info-wrapper {
      font-size: $large-font-size;
      margin-bottom: $spacing-unit * 3;
    }
  }
}
