---
layout: default
---

{% include header.html %} {% if page.news %} {% include news.html %} {% endif %}
{% include about.html %} {% if page.show_cfp %} {% include cfp.html %} {% endif
%} {% if page.hackathon %} {% include hackathon.html %} {% endif %} {% include
speakers.html %} {% if page.schedule %} {% include schedule.html %} {% endif %}
{% include organizers.html %} {% if page.program_committee %} {% include
program_committee.html %} {% endif %} {% if page.sponsors %} {% include
sponsors.html %} {% endif %}
